@import 'tailwindcss';

:root{
    --clr-top: #2EA581;
    --clr-middle: #3F755D;
    --clr-bottom: #265140;
    --clr-background: #183028;
    --clr-dropshadow: #071d19;
}

@font-face {
    font-family: "StayStrong";
    src: url("../assets/StayStrong.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/Raleway-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@theme {
    --color-top: #2EA581;
    --color-middle: #3F755D;
    --color-bottom: #265140;
    --color-background: #183028;

    --font-title: "StayStrong";
    --font-body: "Raleway";

    --main-width: min(var(--container-7xl), 90vw);
    --section-margin: 8rem;
    --prose: min(65ch, 95vw);
    --content-right-cols: [text-start image-start] repeat(1, minmax(0, min(var(--prose), calc(var(--main-width) / 2)))) [text-end] 1fr [image-end];
    --content-left-cols: [image-start] 1fr [text-start] repeat(1, minmax(0, min(var(--prose), calc(var(--main-width) / 2)))) [text-end image-end];
    --wave-height: calc(200px + 30vw);
    --showcase-margin: calc(-9 / 10 * var(--wave-height));
}

@keyframes waveAnimation {
    from{
        scale: 1 1;
    }
    to{
        scale: 1.1 1;
    }
}

@keyframes polyAnimation {
    from{
        scale: 1.05 1;
    }
    to{
        scale: 1 1.05;
    }
}

body {
    font-family: var(--font-body);
}

main > *:has(.section-background){
    margin-block: var(--section-margin);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

h3{
    font-size: var(--text-5xl);
    font-weight: 700
}